<section>

<!--client info  -->
  <div class="rightside" ngModel="clientShow">
    <a class="btn backbutton" ui-sref="ClientSelector"> ← Back to Clients</a>
    <div class="clientShowInfo row">
      <h3 class="center-align">{{ clientShow.client.name}}</h3>
      <img class="clientProfile responsive-img" ng-src="{{clientShow.client.image}}" style="height: 200px;width: 200px;"/>
  </div>
<!--  Selected candidate info-->
    <div id="candidateSelector" class="card">
      <div class = "candidateSelectorProfile">
        <div class="card-image">
          <img style="min-width:150px; min-height:200px;"ng-src="{{clientShow.selectedCandidateImage}}">
        </div>
        <span class="card-content">
          <h5>Candidate Info:</h5>
            <b>Name:</b> {{clientShow.selectedCandidateName}}
          <br>
            <b>Distance From Client:</b> {{clientShow.distance}}
          <br>
            <b>Approx. Travel Time:</b> {{clientShow.distanceTime}}
      </span>
      </div>
    </div>

  </div>


    <!-- Map -->
    <!-- Directive wrapper to lazy load the map -->
    <div map-lazy-load="https://maps.google.com/maps/api/js"
      map-lazy-load-params="{{clientShow.googleMapsUrl}}">
    <!-- Sets the center zoom and style of the map -->
      <ng-map class="clientMap" styles = "{{clientShow.gMapStyles}}" center="{{clientShow.clientLat}}, {{clientShow.clientLong}}" zoom="11">
        <!-- adds a marker for the client -->
        <marker position="{{clientShow.clientLat}}, {{clientShow.clientLong}}"></marker>
        <!-- adds markers for candidates going to add filter:{{clientName}} to limit results once backend is redone -->
        <custom-marker ng-repeat="candidate in clientShow.candidates" position="{{candidate.latitude}}, {{candidate.longitude}}"  on-click="clientShow.getDistance(candidate.latitude, candidate.longitude, candidate.modeOfTransport.type, candidate.name, candidate.image)"><div><img class="candidateMapImages" src="{{candidate.image}}" alt=""></div></custom-marker>
      </ng-map>
        </div>
</section>
