.clientProfile{
  width: 200px;
}

.clientMap{
  width: 80%;
  height: 100%;
  position: absolute;
}

.clientInfo{
  display: inline;
}

.clientInfo:hover{
  text-decoration: underline;
}

.rightside{
  float: left;
  height: 100%;
  width: 25%;
}

.candidateMapImages{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
