.clientProfile{
  width: 200px;
}


// UserShow

.clientMap{
  width: 80%;
  height: 100%;
  position: absolute;
}

.clientInfo{
  display: inline;
}

.clientInfo:hover{
  text-decoration: underline;
}

.rightside{
  float: left;
  height: 100%;
  width: 25%;
}

.candidateMapImages{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


// Navbar

.nav-wrapper{
  background-color: rgba(1, 0, 128,0.7);
  z-index: 200;
}

.brand-logo{
  img{
    width: 30px;
  }
}

#burgerIcon{
  position: relative;
  top: 5px;
  width: 40px;
}

//Home Page
.title{
  h1{
    text-align: center;
  }
  .bigLogo{
    position: relative;
    left: 49%;
  }
}

.description{
  text-align: center;
}
.howToUse{
  text-align: center;
  background-color: rgba(1, 0, 128, 1);
  color: rgba(255, 255, 255, 0.9);
}
