@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$primary-colour: rgba(1, 0, 128, 1);
$secondary-colour: #f2f2f2;
$primary-font: 'Roboto';
$secondary-font: 'Opens Sans';

//global
body{
  background-color: $secondary-colour;
  font-family: $primary-font;
}

.btn-large{
  text-transform: capitalize;
  margin-top: 5px;
  margin-left: 5px;
}

//Home

#homeTryButton{
 font-size: 30px;
}


//ClientIndex

.clientProfile{
  height: 200px;
}

.clientTitle{
  text-align: center;
}

// ClientShow
.btn{
  margin-top: 5px;
}

.clientMap{
  width: 80%;
  height: 100%;
  position: absolute;
}

.clientInfo{
  display: inline;
  h5{
    text-align: center;
  }
}

.clientInfo:hover{
  text-decoration: underline;
}

.rightside{
  float: left;
  height: 100%;
  width: 25%;
}

.candidateMapImages{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}


//candidate index
#lowercase{
  text-transform: lowercase;
}


// Navbar

.nav-wrapper{
  background-color: $primary-colour;
  z-index: 200;
  a{
    text-shadow: 5px black;
    font-size: 20px;
  }
  a:hover{
    color: $secondary-colour;
  }
}

.brand-logo{
  img{
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

#burgerIcon{
  position: relative;
  top: 5px;
  width: 40px;
}

//Home Page
.title{
  padding-bottom: 2%;
  h1{
    text-align: center;
  }
  .bigLogo{
    position: relative;
    left: 49%;
  }

}

.description{
  padding-top: 1px;
  padding-bottom: 1%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.howToUse{
  padding-top: 1px;
  text-align: center;
  background-color: $primary-colour;
  color: $secondary-colour;
}
