<section>
  <section class ="title row">
  <h1>Welcome to CandidFinder</h1>
   <img class="bigLogo col s5 offset-s5" src="./images/workers-team-large.png" style="width: 250px;"alt="">
 </section>
  <section class="description">
    <h3>What is  Candidfinder?</h3>
    <p>Candidfinder is a map app which allows us compare clients and candidates based on their postcode.</p>
  </section>
  <section class="howToUse">
    <h3>How to use</h3>
    <p>Every candidate is placed as a marker with their details and location. All you have to do is choose a client and click on the candidate to see how far they have to travel.</p>
    <img class="screenshot" src="" alt="">
    <img class="screenshot "src="" alt="">
  </section>
  <section class="tryItNow ">
    <div class="row">
      <br>
      <a ui-sref= "ClientSelector" id="homeTryButton" class="waves-effect blue darken-3 btn-large col s4 offset-s4">Try it now!</a>
    </div>
  </section>
</section>
