<section>
  <section class ="title">
  <h1>Welcome to CandidFinder</h1>
   <img class="bigLogo" src="./images/workers-team.png" alt="">
 </section>
  <section class="description">
    <h3>What is  Candidfinder?</h3>
    <p>Candidfinder is a map app which allows us compare clients and candidates based on their postcode.</p>
  </section>

  <section class="howToUse">
    <h1>How to use</h1>
    Every candidate is placed as a marker with their face and location, all you have to do is choose a client and click on the candidate to see how far they have to travel.
    <img class="screenshot" src="" alt="">
    <img class="screenshot "src="" alt="">
  </section>
  <section ="try it now ">
    <div class="row">
      <a ui-sref= "ClientSelector" class="waves-effect waves-light btn-large col s12">Try it now!</a>
    </div>
  </section>
</section>
